* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100vw;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

#comprarTickets {
    color:rgb(0, 255, 0);
}

.logo {
    width: 7rem;
    height: 4rem;
}

.introduccion {
    background-image: url(../assets/img/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.introduccion .sombra {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.introduccion .sombra .container-flex {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.introduccion .sombra .container-flex .contenido {
    width: 50%;
    margin-bottom: 20vh;
    text-align: right;
}

.introduccion .sombra .container-flex .contenido .container-botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.introduccion .sombra .container-flex .contenido .container-botones a {
    color: whitesmoke;
    text-decoration: none;
}

.boton {
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 5px;
}

.boton-transparente {
    border: 2px solid darkgrey;
    margin-right: 1rem;
}

.boton-transparente:hover {
    background-color: rgba(95, 95, 95, 0.55);
    color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, .55);
    transition: 0.5s;
}

.boton-solid {
    background-color:  rgb(0, 150, 0);
    border: 2px solid rgb(0, 150, 0);
}

.boton-solid:hover {
    background-color: rgb(0, 150, 0);
    border: 2px solid rgb(0, 255, 0);
    color: whitesmoke;
    transition: 0.4s;
}

.oradores .titulo {
    text-align: center;
}

.oradores .titulo h6 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.oradores .container-oradores {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.oradores .container-oradores .card {
    width: 30%;
    min-width: 300px;
}

.oradores .container-oradores .card .steve {
    margin-bottom: .5rem;
}

.oradores .container-oradores .card .habilidades {
    margin-top: 1.5rem;
    display: flex;
    padding-left: 1rem;
}

.oradores .container-oradores .card .habilidades h6 {
    font-size: 0.8rem;
    font-weight: 700;
    padding: .2rem .3rem;
    margin-right: .3rem;
    margin-bottom: 0;
    margin-left: 0;
}

.oradores .container-oradores .card .habilidades .yellow {
    background-color: rgb(255, 190, 0);
    border-radius: 5px;
}

.oradores .container-oradores .card .habilidades .cyan {
    background-color: rgb(1, 170, 221);
    color:white;
    border-radius: 5px;
} 

.oradores .container-oradores .card .habilidades .grey {
    background-color: grey;
    color: white;
    border-radius: 5px;
} 

.oradores .container-oradores .card .habilidades .red {
    background-color: rgba(255, 0, 0, .8);
    color: white;
    border-radius: 5px;
} 

.oradores .container-oradores .card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1rem;
}

.oradores .container-oradores .card p {
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 1rem;
} 

.conoce-mas .container-conoce-mas {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conoce-mas .container-conoce-mas .holu {
    width: 50%;
    margin: 0;
}

.conoce-mas .container-conoce-mas .contenido {
    width: 50%;
    background-color: rgb(54, 54, 54);
    color: lightgray;
    padding: 1rem;
    margin: 0;
}

.conoce-mas .container-conoce-mas .contenido h2 {
    font-weight: 600;
}

.conoce-mas .container-conoce-mas .contenido p {
    margin-bottom: 1.5rem;
} 

.conoce-mas .container-conoce-mas .contenido .boton {
    padding: .5rem 1rem;
    margin: .5rem;
    border-radius: 5px;
    color:lightgray;
}

.conoce-mas .container-conoce-mas .contenido .boton-transparente {
    border: 1px solid lightgray;
    text-decoration: none;
}

.conoce-mas .container-conoce-mas .contenido .boton-transparente:hover {
    background-color: rgba(255, 255, 255, .55);
    color: lightgray;
    border: 1px solid rgba(255, 255, 255, .55);
    transition: 0.3s;
}

.formulario .titulo {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.formulario .titulo h3 {
    font-size: 1rem;
    color: rgb(58, 58, 58);
}

.formulario .titulo .underline {
    text-decoration: underline dotted rgb(44, 44, 44);
}

.formulario .container-formulario {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.formulario .container-formulario .nombre-apellido {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.formulario .container-formulario .input-name {
    width: 48%;
    padding: .3rem .5rem;
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146);
}

.formulario .container-formulario .input-name:focus {
    outline: 1px solid rgb(100, 100, 100);
}

.formulario .container-formulario .input-about {
    width: 100%;
    padding: .3rem .5rem;
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146);
}

.formulario .container-formulario .input-about:focus {
    outline: 1px solid rgb(100, 100, 100);
}

.formulario .container-formulario h6 {
    color: rgb(146, 146, 146);
}

.formulario .container-formulario .boton-enviar {
    width: 100%;
    margin: 1rem 0;
    padding: .4rem 0;
    font-size: 1.5rem;
    background-color: rgba(94, 199, 25, 0.8);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

.formulario .container-formulario .boton-enviar:hover {
    background-color: rgb(17, 230, 28);
    color: white;
    transition: .3s;
}

.footer {
    background-image: linear-gradient(to right, #004d7a, #00838f);
}

.footer .container-footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container-footer a {
    text-decoration: none;
    color: white;
    padding: 1.3rem 0;
    margin: 0 1.5rem;
    width: 100px;
    text-align: center;
}

@media(max-width: 768px) {

    .container-logo {
        margin-left: -5rem;
    }

    .navbar-toggler {
        margin-right: -5rem;
    }

    .introduccion {
        width: 100%;
        height: 50%;
        margin-top: 4vh;
        margin-bottom: 1vh;
        text-align: center;
    }

    .introduccion .sombra {
        padding: 10vh 0vw;
        margin-bottom: 20%;
    }

    .introduccion .sombra .container-flex {
        padding-bottom: 0;
    }

    .introduccion .sombra .container-flex .contenido {
        width: 100%;
        font-size: 1.4rem;
        margin-top: 2rem;
        margin-bottom: 5vh;
        text-align: center;
    }

    .introduccion .sombra .container-flex .contenido .container-botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2vh;
    }

    .introduccion .sombra .container-flex .contenido .container-botones a {
        font-size: 1.5rem;
    }

    .introduccion .sombra .container-flex .contenido .container-botones .boton {
        padding: 0.5rem 1rem;
        border-radius: 5px;
    } 

    .introduccion .sombra .container-flex .contenido .container-botones .boton-transparente {
        border: 2px solid darkgrey;
        margin-right: 0rem;
    } 

    .introduccion .sombra .container-flex .contenido .container-botones .boton-solid {
        border: 2px solid darkgrey;
        margin-top: .5rem;
        margin-right: 0rem;
    } 

    .oradores .titulo h6 {
        margin-top: -5rem;
        margin-bottom: 0;
    }

    .oradores .titulo h2 {
        margin-bottom: 1rem;
    }

    .oradores .container-oradores .card {
        width: 90%;
    }

    .oradores .container-oradores .card .habilidades h6 {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .oradores .container-oradores .card h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .oradores .container-oradores .card p {
        font-size: 1.3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .conoce-mas .container-conoce-mas {
        display: flex;
        flex-direction: column;
    }

    .conoce-mas .container-conoce-mas .holu {
        width: 100%;
    }

    .conoce-mas .container-conoce-mas .contenido {
        width: 100%;
        display: block;
        text-align: center;
        padding: 2rem 4rem;
    }

    .conoce-mas .container-conoce-mas .contenido .boton {
        width: 50%;
        margin: 0 auto;
    }

    .formulario .container-formulario {
        width: 80vw;
    }

    .formulario .container-formulario .nombre-apellido {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .formulario .container-formulario .nombre-apellido .input-name {
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer {
        background-image: linear-gradient(to bottom, #004d7a, #00838f);
    }

    .footer .container-footer {
        flex-direction: column;
        padding: 1rem 0;
    }

    .footer .container-footer a {
        padding: .5rem 0;
        width: 100%;
        text-align: center;
    }
}